langchain==0.3.21
langchain-community==0.3.20
langchain-core==0.3.49
langchain-huggingface==0.1.2
langchain-openai==0.2.14
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
pydantic==2.8.2
scikit-learn==1.5.2
seaborn==0.13.2
torch==2.6.0
tqdm==4.66.5
transformers==4.50.3
